.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: azure;
    width: 90vw;
    margin: auto;
    margin-top: 200px;
}